@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.login-form-bg{
  background-color: white;
  border: 15px solid;
  border-radius: 15px;
  border-color: white;
  margin-top: 0px;
}
body{
  background-color: #eeeeee;
}

.scrollable-list
{
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}
/*testing css
.styled select {
   background: transparent;
   width: 150px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px; 
} 

.styled{
   margin: 50px;
   width: 120px;
   height: 34px;
   border: 1px solid #111;
   border-radius: 3px;
   overflow: hidden;
   background: url(http://www.stackoverflow.com/favicon.ico) 96% / 20% no-repeat #ddd;
}
*/
.styled-select select {
   background: transparent;
   margin: 5px;
   width: 270px; /*268 original*/
   padding: 5px;
   margin-bottom:20px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   border: 2px solid #ccc;
   }
   
   
   /*my own version testing for rounder corners
.styled-corner select {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 1px;
    width: 250px;
    height: 50px; 
}
*/